In [1]:
import numpy as np

In [2]:
rg = np.random.default_rng(1)
ary =  np.floor(10*rg.random((2,4)))
print(ary)
ary.shape

[[5. 9. 1. 9.]
 [3. 4. 8. 4.]]

(2, 4)

In [3]:
flatary = ary.ravel()
ary2= flatary.reshape(2,4)

In [4]:
print(ary2.shape)

(2, 4)

In [5]:
# Transposed the array
ary2.T
print(ary2.T.shape)

(4, 2)

In [6]:
ar = np.arange(12)
ar

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [7]:
ar.reshape(4,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [8]:
# Till now nuchange
ar

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [10]:
# resize create another array
ar.resize(4,3)
ar

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [11]:
ar = ar.ravel()
ar

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [12]:
# using -1, we could calculated the column automatically
ar.reshape(3, -1)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

### Stacking together

In [13]:
ng = np.random.default_rng(1)
ary1 = np.floor(10 * ng.random((3,4)))
ary2 = np.floor(5 * ng.random((3,4)))
print(ary1)
print()
print(ary2)

[[5. 9. 1. 9.]
 [3. 4. 8. 4.]
 [5. 0. 7. 5.]]

[[1. 3. 1. 2.]
 [0. 2. 1. 1.]
 [3. 1. 2. 4.]]

In [14]:
varry = np.vstack((ary1,ary2))
varry

array([[5., 9., 1., 9.],
       [3., 4., 8., 4.],
       [5., 0., 7., 5.],
       [1., 3., 1., 2.],
       [0., 2., 1., 1.],
       [3., 1., 2., 4.]])

In [15]:
harry = np.hstack((ary1, ary2))
harry

array([[5., 9., 1., 9., 1., 3., 1., 2.],
       [3., 4., 8., 4., 0., 2., 1., 1.],
       [5., 0., 7., 5., 3., 1., 2., 4.]])

In [16]:
s = np.array([2, 4])
t = np.array([4, 5])
np.column_stack((s,t))

array([[2, 4],
       [4, 5]])

In [17]:
np.vstack((s, t))

array([[2, 4],
       [4, 5]])

In [18]:
d = np.arange(6).reshape(3,2)
d

array([[0, 1],
       [2, 3],
       [4, 5]])

In [19]:
d.shape

(3, 2)

In [20]:
# Adding new exis
d = d[:, np.newaxis]
d

array([[[0, 1]],

       [[2, 3]],

       [[4, 5]]])

In [21]:
d.shape

(3, 1, 2)

### Splite one array to several array

In [22]:
ng = np.random.default_rng(1)
a = np.floor(10 * ng.random((2,6)))
a

array([[5., 9., 1., 9., 3., 4.],
       [8., 4., 5., 0., 7., 5.]])

In [23]:
np.hsplit(a,3)

[array([[5., 9.],
        [8., 4.]]),
 array([[1., 9.],
        [5., 0.]]),
 array([[3., 4.],
        [7., 5.]])]

In [24]:
np.hsplit(a,3)

[array([[5., 9.],
        [8., 4.]]),
 array([[1., 9.],
        [5., 0.]]),
 array([[3., 4.],
        [7., 5.]])]

In [25]:
np.vsplit(a,2)

[array([[5., 9., 1., 9., 3., 4.]]), array([[8., 4., 5., 0., 7., 5.]])]

In [26]:
np.hsplit(a, (2,3))

[array([[5., 9.],
        [8., 4.]]),
 array([[1.],
        [5.]]),
 array([[9., 3., 4.],
        [0., 7., 5.]])]

### Copies and Views

In [27]:
a = np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [28]:
b = a
b is a

True

In [29]:
id(a)

311671417712

In [30]:
id(b)

311671417712

In [31]:
c = a.view()
id(c)

311671443584

In [32]:
c is a

False

In [33]:
print(id(a))
print(id(c.base))

311671417712
311671415232

In [34]:
c.flags.owndata

False

In [35]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [36]:
c.reshape(2,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11]])

In [37]:
c[0,1] = 999
a

array([[  0, 999,   2,   3],
       [  4,   5,   6,   7],
       [  8,   9,  10,  11]])

In [38]:
c[0,2] = 1111
a

array([[   0,  999, 1111,    3],
       [   4,    5,    6,    7],
       [   8,    9,   10,   11]])

In [39]:
a[0,3] = 8888

In [40]:
aa = np.arange(20,40,2).reshape(2,5)
aa

array([[20, 22, 24, 26, 28],
       [30, 32, 34, 36, 38]])

In [41]:
bb = aa
bb[0,1] = 2222
aa

array([[  20, 2222,   24,   26,   28],
       [  30,   32,   34,   36,   38]])

In [42]:
# Deep Copy
cc = bb.copy()

In [43]:
cc[0,1] = 1111
cc

array([[  20, 1111,   24,   26,   28],
       [  30,   32,   34,   36,   38]])

In [44]:
aa

array([[  20, 2222,   24,   26,   28],
       [  30,   32,   34,   36,   38]])