In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = pd.date_range('1/12/2020', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2020-01-12 00:00:00    180
2020-01-12 00:00:01    499
2020-01-12 00:00:02    287
2020-01-12 00:00:03    265
2020-01-12 00:00:04    423
                      ...
2020-01-12 00:01:35    496
2020-01-12 00:01:36    291
2020-01-12 00:01:37    358
2020-01-12 00:01:38    440
2020-01-12 00:01:39    398
Freq: S, Length: 100, dtype: int32

In [ ]:
ts.resample('5min').sum()

In [13]:
rng = pd.date_range('31/12/1996 00:00', periods = 5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

1996-12-31   -1.471731
1997-01-01    1.110813
1997-01-02   -1.644891
1997-01-03   -0.549615
1997-01-04   -0.406421
Freq: D, dtype: float64

In [14]:
ts_utc = ts.tz_localize('UTC')
ts_utc

1996-12-31 00:00:00+00:00   -1.471731
1997-01-01 00:00:00+00:00    1.110813
1997-01-02 00:00:00+00:00   -1.644891
1997-01-03 00:00:00+00:00   -0.549615
1997-01-04 00:00:00+00:00   -0.406421
Freq: D, dtype: float64

In [16]:
ts_utc.tz_convert('US/Eastern')

1996-12-30 19:00:00-05:00   -1.471731
1996-12-31 19:00:00-05:00    1.110813
1997-01-01 19:00:00-05:00   -1.644891
1997-01-02 19:00:00-05:00   -0.549615
1997-01-03 19:00:00-05:00   -0.406421
Freq: D, dtype: float64

In [17]:
rng = pd.date_range('31/12/1996 00:00', periods = 5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

1996-12-31   -0.367048
1997-01-31   -1.986993
1997-02-28   -0.857810
1997-03-31   -1.968455
1997-04-30   -2.079701
Freq: M, dtype: float64

In [18]:
ps = ts.to_period()
ps

1996-12   -0.367048
1997-01   -1.986993
1997-02   -0.857810
1997-03   -1.968455
1997-04   -2.079701
Freq: M, dtype: float64

In [19]:
ps.to_timestamp()

1996-12-01   -0.367048
1997-01-01   -1.986993
1997-02-01   -0.857810
1997-03-01   -1.968455
1997-04-01   -2.079701
Freq: MS, dtype: float64

In [34]:
prng = pd.period_range('1996Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e')+1).asfreq('H', 's') + 10
ts.head()

1996-03-01 10:00   -0.137812
1996-06-01 10:00   -0.588151
1996-09-01 10:00   -0.027293
1996-12-01 10:00    1.904531
1997-03-01 10:00   -1.479653
Freq: H, dtype: float64