In [3]:
import numpy as np
import pandas as pd

In [6]:
s = pd.Series([1, 2, 4, np.nan, 4, np.inf])
s

0    1.0
1    2.0
2    4.0
3    NaN
4    4.0
5    inf
dtype: float64

In [7]:
dates = pd.date_range('20210322', periods=6)
dates

DatetimeIndex(['2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-27'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df1 = pd.DataFrame(np.random.rand(6,4), index=dates, columns=list('ABCD'))
df1

                   A         B         C         D
2021-03-22  0.310514  0.096155  0.321634  0.473693
2021-03-23  0.322702  0.551930  0.280153  0.662827
2021-03-24  0.340012  0.408467  0.545476  0.645205
2021-03-25  0.990618  0.008130  0.834470  0.863289
2021-03-26  0.207552  0.641238  0.121784  0.945267
2021-03-27  0.771754  0.211600  0.713586  0.130430

In [29]:
df2 = pd.DataFrame({
    'A': 1.0,
    'B': pd.Timestamp("20210322"),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(['test', 'train', 'train', 'test']),
    'F': 'Foo'
})
df2

     A          B    C  D      E    F
0  1.0 2021-03-22  1.0  3   test  Foo
1  1.0 2021-03-22  1.0  3  train  Foo
2  1.0 2021-03-22  1.0  3  train  Foo
3  1.0 2021-03-22  1.0  3   test  Foo

In [30]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [31]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64