## Introduction
Numpy library is a fundamental and most significant language for data analysis. For a Data Analyst or Machine Learning engineer need know in depth knowledge about Numpy. In terms of array, the main focuse of numpy is focusin in ndarray or n-dimentional array.
It will be better if we follow top-down approach. Let start

In [2]:
# import Numpy
import numpy as np

In [14]:
# Create numpy array
arr1d = np.array([1.12, 2.56, 3.67, 4.9])
arr1d

array([1.12, 2.56, 3.67, 4.9 ])

In [15]:
arr2d = np.array([[1,2,3],[1,5,7]])
arr2d

array([[1, 2, 3],
       [1, 5, 7]])

In [16]:
arr3d = np.array([[[1,2,3], [2,3,5]],[[3,7,2],[1,8,3]]]) # [3d [2d [1d] ] ]
arr3d

array([[[1, 2, 3],
        [2, 3, 5]],

       [[3, 7, 2],
        [1, 8, 3]]])

# inspect size, shape

In [25]:
#number of row and column
arr1d.shape

(4,)

In [18]:
arr2d.shape

(2, 3)

In [19]:
arr3d.shape

(2, 2, 3)

In [26]:
# Data type
arr1d.dtype, arr2d.dtype, arr3d.dtype

(dtype('float64'), dtype('int32'), dtype('int32'))

In [27]:
# Number of dimention
arr1d.ndim, arr2d.ndim, arr3d.ndim

(1, 2, 3)

In [28]:
# Number of item size
arr1d.size, arr2d.size, arr3d.size

(4, 6, 12)

# Extracting items

In [29]:
arr1d

array([1.12, 2.56, 3.67, 4.9 ])

In [30]:
arr1d[1]

2.56

In [32]:
arr1d[1:3]

array([2.56, 3.67])

In [33]:
arr1d[:2]

array([1.12, 2.56])

In [34]:
arr1d[2:]

array([3.67, 4.9 ])

In [35]:
arr1d[:]

array([1.12, 2.56, 3.67, 4.9 ])

In [36]:
arr1d[:-2]

array([1.12, 2.56])

In [37]:
arr2d[0]

array([1, 2, 3])

In [41]:
arr2d[0,1]

2

In [42]:
arr2d[0,0:2]

array([1, 2])

In [43]:
arr2d[1,0:2]

array([1, 5])

In [44]:
arr2d[:2,0:2]

array([[1, 2],
       [1, 5]])

In [48]:
arr3d

array([[[1, 2, 3],
        [2, 3, 5]],

       [[3, 7, 2],
        [1, 8, 3]]])

In [50]:
arr3d[0]

array([[1, 2, 3],
       [2, 3, 5]])

In [51]:
arr3d[0,1]

array([2, 3, 5])

In [52]:
arr3d[0,1,2]

5

In [57]:
d = arr3d > 3
d

array([[[False, False, False],
        [False, False,  True]],

       [[False,  True, False],
        [False,  True, False]]])

In [58]:
arr3d[d] # print only true values

array([5, 7, 8])

# Reversing rows, array

In [64]:
arr2d

array([[1, 2, 3],
       [1, 5, 7]])

In [65]:
#Reverse rows
arr2d[::-1,]

array([[1, 5, 7],
       [1, 2, 3]])

In [66]:
arr2d[::-1, ::-1]

array([[7, 5, 1],
       [3, 2, 1]])

# Represent missing values and infinite

In [71]:
arry = np.array([[ 8.,  np.nan,  6.,  np.inf],[ 6.,  5.,  np.nan,  3.],[ np.inf,  3.,  2.,  1.]])
arry

array([[ 8., nan,  6., inf],
       [ 6.,  5., nan,  3.],
       [inf,  3.,  2.,  1.]])

In [78]:
d = np.isnan(arry)
arry[d] = 999
arry

array([[  8., 999.,   6.,  inf],
       [  6.,   5., 999.,   3.],
       [ inf,   3.,   2.,   1.]])

In [82]:
c = np.isinf(arry)
c

array([[False, False, False,  True],
       [False, False, False, False],
       [ True, False, False, False]])

In [84]:
arry[c] = 111
arry

array([[  8., 999.,   6., 111.],
       [  6.,   5., 999.,   3.],
       [111.,   3.,   2.,   1.]])

# Compute min, max, mean, standard deviation

In [89]:
np.min(arry)

1.0

In [90]:
np.max(arry)

999.0

In [91]:
np.mean(arry)

187.83333333333334

In [92]:
np.std(arry)

364.85746836569234

# Create a new array from an existing array

In [93]:
arry

array([[  8., 999.,   6., 111.],
       [  6.,   5., 999.,   3.],
       [111.,   3.,   2.,   1.]])

In [95]:
newarry = arry[0:2, 1:]
newarry

array([[999.,   6., 111.],
       [  5., 999.,   3.]])

In [96]:
newarray2 = arry.copy()
newarray2

array([[  8., 999.,   6., 111.],
       [  6.,   5., 999.,   3.],
       [111.,   3.,   2.,   1.]])

# Reshaping and Flattening ndarrays

In [97]:
arry

array([[  8., 999.,   6., 111.],
       [  6.,   5., 999.,   3.],
       [111.,   3.,   2.,   1.]])

In [99]:
flarry = arry.flatten()
flarry

array([  8., 999.,   6., 111.,   6.,   5., 999.,   3., 111.,   3.,   2.,
         1.])

In [100]:
flarry[1] = -1 
flarry

array([  8.,  -1.,   6., 111.,   6.,   5., 999.,   3., 111.,   3.,   2.,
         1.])

In [102]:
arry # does not change the parent array

array([[  8., 999.,   6., 111.],
       [  6.,   5., 999.,   3.],
       [111.,   3.,   2.,   1.]])

In [103]:
rlvarry = arry.ravel()
rlvarry

array([  8., 999.,   6., 111.,   6.,   5., 999.,   3., 111.,   3.,   2.,
         1.])

In [105]:
rlvarry[1] = -1
rlvarry

array([  8.,  -1.,   6., 111.,   6.,   5., 999.,   3., 111.,   3.,   2.,
         1.])

In [107]:
arry # This is the different between flatten function and ravel function

array([[  8.,  -1.,   6., 111.],
       [  6.,   5., 999.,   3.],
       [111.,   3.,   2.,   1.]])

In [108]:
len(rlvarry)

12

In [109]:
rlvarry.reshape(4,3)

array([[  8.,  -1.,   6.],
       [111.,   6.,   5.],
       [999.,   3., 111.],
       [  3.,   2.,   1.]])

# Create sequences, repetitions and random numbers

In [112]:
# Create sequence
a = np.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [117]:
b = np.arange(12, 20)
b

array([12, 13, 14, 15, 16, 17, 18, 19])

In [118]:
c = np.arange(12, 20, 2)
c

array([12, 14, 16, 18])

In [124]:
d = np.linspace(114, 120)
print(len(d))
d

50

array([114.        , 114.12244898, 114.24489796, 114.36734694,
       114.48979592, 114.6122449 , 114.73469388, 114.85714286,
       114.97959184, 115.10204082, 115.2244898 , 115.34693878,
       115.46938776, 115.59183673, 115.71428571, 115.83673469,
       115.95918367, 116.08163265, 116.20408163, 116.32653061,
       116.44897959, 116.57142857, 116.69387755, 116.81632653,
       116.93877551, 117.06122449, 117.18367347, 117.30612245,
       117.42857143, 117.55102041, 117.67346939, 117.79591837,
       117.91836735, 118.04081633, 118.16326531, 118.28571429,
       118.40816327, 118.53061224, 118.65306122, 118.7755102 ,
       118.89795918, 119.02040816, 119.14285714, 119.26530612,
       119.3877551 , 119.51020408, 119.63265306, 119.75510204,
       119.87755102, 120.        ])

In [126]:
d = np.linspace(114, 120, 10)
print(len(d))
d

10

array([114.        , 114.66666667, 115.33333333, 116.        ,
       116.66666667, 117.33333333, 118.        , 118.66666667,
       119.33333333, 120.        ])

In [128]:
# Repeatig sequance
a = [1,2,3]
np.tile(a,2)

array([1, 2, 3, 1, 2, 3])

In [130]:
np.repeat(a,2)

array([1, 1, 2, 2, 3, 3])

In [132]:
# Random value
np.random.rand(2,3)

array([[0.74443533, 0.4209937 , 0.87513827],
       [0.0917974 , 0.1536269 , 0.79688133]])

In [134]:
np.random.randn(2,3)

array([[ 1.13763794, -0.2574358 , -2.14804532],
       [-2.85293305,  0.02878007,  1.52680539]])

In [135]:
np.random.randint(0,10, size=[2,3])

array([[9, 0, 3],
       [5, 0, 7]])

In [136]:
np.random.random()

0.5746328432176082

In [138]:
np.random.random(size = [2,3])

array([[0.97112718, 0.75657545, 0.31667354],
       [0.96142747, 0.63338045, 0.00930828]])

In [139]:
np.random.choice(['a','e','i','o','u'], size=[2,3])

array([['o', 'a', 'o'],
       ['e', 'o', 'a']], dtype='<U1')

In [143]:
np.random.choice(['a','e','i','o','u'], size=[2,3], p = [0.1, 0.4, 0.2, 0.1, 0.2])

array([['o', 'u', 'i'],
       ['u', 'e', 'e']], dtype='<U1')

# Unique items and counts

In [148]:
arr_rand = np.random.randint(10, 15, size=[2,3])
arr_rand

array([[14, 14, 11],
       [13, 13, 10]])

In [149]:
unique, counts = np.unique(arr_rand, return_counts=True)
unique

array([10, 11, 13, 14])

In [150]:
counts

array([1, 1, 2, 2], dtype=int64)

# Index location using given condition

In [153]:
rand_array = np.random.randint(1,50, size=12)
rand_array

array([26, 28,  5, 44, 11, 28, 31, 49, 45, 12, 43, 20])

In [157]:
indNum = np.where(rand_array > 40) #Showing index number
indNum

(array([ 3,  7,  8, 10], dtype=int64),)

In [158]:
rand_array[indNum]

array([44, 49, 45, 43])

# Concatenate columnwise and rowwise

In [178]:
a = np.ones([2,2])
a

array([[1., 1.],
       [1., 1.]])

In [180]:
b = np.zeros([2,2])
b

array([[0., 0.],
       [0., 0.]])

In [181]:
c = np.concatenate([a, b], axis=0)
c

array([[1., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.]])

In [182]:
d = np.concatenate([a,b], axis=1)
d

array([[1., 1., 0., 0.],
       [1., 1., 0., 0.]])

# Sort one or more columns

In [184]:
rnd_arry = np.random.randint(1,6, size=[8, 4])
rnd_arry

array([[4, 3, 1, 4],
       [3, 3, 4, 4],
       [1, 1, 1, 3],
       [5, 1, 3, 4],
       [1, 2, 3, 1],
       [2, 5, 4, 2],
       [3, 3, 5, 4],
       [2, 2, 5, 1]])

In [186]:
np.sort(rnd_arry)

array([[1, 3, 4, 4],
       [3, 3, 4, 4],
       [1, 1, 1, 3],
       [1, 3, 4, 5],
       [1, 1, 2, 3],
       [2, 2, 4, 5],
       [3, 3, 4, 5],
       [1, 2, 2, 5]])

In [188]:
np.sort(rnd_arry, axis=0)

array([[1, 1, 1, 3],
       [1, 1, 2, 3],
       [1, 2, 2, 4],
       [1, 2, 4, 4],
       [1, 3, 4, 5],
       [2, 3, 4, 5],
       [3, 3, 4, 5],
       [3, 3, 4, 5]])

# Working with dates

In [189]:
# create datetime64
date64 = np.datetime64('2018-02-04 23:10:10')
date64

numpy.datetime64('2018-02-04T23:10:10')

In [190]:
# Drop the time part
dt64 = np.datetime64(date64, 'D')
dt64

numpy.datetime64('2018-02-04')

In [198]:
np.datetime64(10, 'm')

numpy.datetime64('1970-01-01T00:10')

In [193]:
np.datetime64(10,'s')

numpy.datetime64('1970-01-01T00:00:10')

In [194]:
np.datetime64(10, 'ns')

numpy.datetime64('1970-01-01T00:00:00.000000010')

In [209]:
# Sequence Date
dates = np.arange(np.datetime64('2019-03-01'), np.datetime64('2019-03-10'))
dates

array(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
       '2019-03-05', '2019-03-06', '2019-03-07', '2019-03-08',
       '2019-03-09'], dtype='datetime64[D]')