In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'A': np.arange(6)* 10,
    'B': pd.Timestamp(20210212),
    'C': pd.Series([12, 45, 23, 15, 56, 23])
})
df

    A                             B   C
0   0 1970-01-01 00:00:00.020210212  12
1  10 1970-01-01 00:00:00.020210212  45
2  20 1970-01-01 00:00:00.020210212  23
3  30 1970-01-01 00:00:00.020210212  15
4  40 1970-01-01 00:00:00.020210212  56
5  50 1970-01-01 00:00:00.020210212  23

### Stats

In [3]:
df.mean()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.

A    25.0
C    29.0
dtype: float64

In [8]:
df2 = df.drop('B', axis=1)
df2.mean()

A    25.0
C    29.0
dtype: float64

In [10]:
s = pd.Series([1,3,4,np.nan, 56]).shift(2)
s

0    NaN
1    NaN
2    1.0
3    3.0
4    4.0
dtype: float64

In [11]:
df

    A                             B   C
0   0 1970-01-01 00:00:00.020210212  12
1  10 1970-01-01 00:00:00.020210212  45
2  20 1970-01-01 00:00:00.020210212  23
3  30 1970-01-01 00:00:00.020210212  15
4  40 1970-01-01 00:00:00.020210212  56
5  50 1970-01-01 00:00:00.020210212  23

### Apply

In [14]:
df.apply(np.cumsum)

     A                             B    C
0    0 1970-01-01 00:00:00.020210212   12
1   10 1970-01-01 00:00:00.040420424   57
2   30 1970-01-01 00:00:00.060630636   80
3   60 1970-01-01 00:00:00.080840848   95
4  100 1970-01-01 00:00:00.101051060  151
5  150 1970-01-01 00:00:00.121261272  174

### Histogramming

In [16]:
s = pd.Series(np.random.randint(4,9, size=10))
s

0    4
1    4
2    8
3    5
4    7
5    5
6    5
7    4
8    5
9    4
dtype: int32

In [17]:
s.value_counts()

5    4
4    4
8    1
7    1
dtype: int64

In [18]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [19]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object